<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>编辑博客</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/js/jquery-2.0.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <style type="text/css">
        #content {
            position: absolute;
            height: 200px;
            top: 50%;
            height: 240px;
            margin-top: -200px;
            margin-left: 400px; 
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 12px;
        }
        a:hover {
            color: coral;
            font-size: 15px;
            text-decoration: none;
        }
        body{
            background: darkgrey;
        }
        #marb20 {
            background-color: chocolate;
            margin-bottom: 20px !important;
            font-size: 14px;
        }
        .marb8 {
            margin-bottom: 8px !important;
        }
        ul{ list-style:none;}
        ul li ul li{ float:none; background-color:rgb(119, 117, 117); margin: 1px 0px; height: 35px; text-align: center; width: 100px; padding-top: 8px;}
        ul li ul{ display:none;}
    </style>
    <script type="text/javascript">
        function displaySubMenu(li) {
            var subMenu = li.getElementsByTagName("ul")[0];
            subMenu.style.display = "block";
    
    }
        function hideSubMenu(li) {
            var subMenu = li.getElementsByTagName("ul")[0];
            subMenu.style.display = "none";
    
    }
    </script>
  </head>

  <body>
    {% if request.user.is_authenticated %}
    <nav class="navbar navbar-inverse navbar-fixed-top" style="height: 50px;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">简易blog</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" style="width: 1550px;">
            <ul class="nav navbar-nav" >
                <li><a href="{% url 'index' %}">首页</a></li>
                <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"><a href="#">管理博客</a>
                    <ul>
                        <li><a href="{% url 'addblog' %}" style="color: black;">添加博客 </a></li>
                        <li><a href="{% url 'delete' %}" style="color: black;">删除博客 </a></li>
                        <li><a href="{% url 'edit' %}" style="color: black;">编辑博客 </a></li>
                    </ul>
                </li>
                <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"><a href="#">其他功能</a>
                    <ul>
                        <li><a href="{% url 'addblog' %}" style="color: black;">修改资料 </a></li>
                        <li><a href="{% url 'delete' %}" style="color: black;">查看留言 </a></li>
                    </ul>
                </li>
                <li><a href="#about">关于我们</a></li>
                <li><a href="{% url 'contact' %}">联系我们</a></li>
                <li><form role="search" method="get" id="searchform" action="{% url 'search' %}" style="margin-top: 12px; margin-left: 250px;">
                        {% csrf_token %}
                        <input type="search" name="q" placeholder="Search" required>
                        <button type="submit"><span>搜索博客</span></button>
                    </form></li>
                    <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)" style="color:aliceblue; margin-top: 8px; margin-left: 150px; font-family:Arial, Helvetica, sans-serif">&nbsp;&nbsp;&nbsp;<img width="35px" height="35px" src="/media/{{ user.image }}" style="border-radius: 20px" >&nbsp;&nbsp;{{ request.user }}
                        <ul>
                            <li style="margin-top: 16px; height: 95px; width: 200px; padding-top: 20.5px; border-radius: 10px; margin-top: 8px;">
                                <img width="50px" height="50px" src="/media/{{ user.image }}" style="border-radius: 25px">
                                <a href="{% url 'editinfo' %}" style="color: black;">个人中心</a>&nbsp;&nbsp;&nbsp;
                                <a href="{% url 'logout' %}" style="color: black;">注销</a>
                            </li>
                        </ul>
                    </li>
                    
              </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="head">
        当前第{{ blog_list.number }}页,总共{{ page.num_pages }}页
    </div>
    <div class="footer">
        <ul class="nav" style="font-size:20px;">
            {% if blog_list.has_previous %}
                <li class="long"><a href="?{{ blog_list.previous_page_number.querystring }}">上一页</a></li>
            {% endif %}
            {% for page in blog_list.pages %}
                {% if page %}
                    {% ifequal page blog_list.number %}
                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li class="none"><a href="">...</a></li>
                {% endif %}
            {% endfor %}
            {% if blog_list.has_next %}
                <li class="long"><a href="?{{ blog_list.next_page_number.querystring }}">下一页</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container" style="margin-top: 150px; margin-left: 400px; width: 1140px;">

      <div class="starter-template">
        {% for blog in blog_list.object_list %}
            <form method="post" action="{% url 'edit' %}">
                <input type="hidden" name="title" value="{{ blog.title }}">
                <a href="{% url 'blog_get_detail' blog.id %}"><h3>{{ blog.title }}</h3></a>
                <p>author:&nbsp;&nbsp;{{ blog.author }}</p>
                <input type="hidden" name="content" value="{{ blog.content }}">
                <input type="submit" value="编辑">
                {% csrf_token %}
            </form>
        {% endfor %}
      </div>

    </div><!-- /.container -->
    {% else %}
    <nav class="navbar navbar-inverse navbar-fixed-top" style="height: 50px;">
            <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#">简易blog</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">主页</a></li>
                <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"><a href="#">用户操作</a>
                    <ul>
                        <li><a href="{% url 'user_login' %}" style="color: black;">用户登录 </a></li>
                        <li><a href="{% url 'register' %}" style="color: black;">用户注册 </a></li>
                    </ul>
                </li>
                <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"><a href="#">安全管理</a>
                    <ul>
                        <li><a href="{% url 'modify' %}" style="color: black;">修改密码 </a></li>
                        <li><a href="{% url 'forgetpwd' %}" style="color: black;">忘记密码 </a></li>
                    </ul>
                </li>
                </ul>
            </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container" style="margin-top: 150px; margin-bottom: 120px; margin-left: 400px; width: 1140px;">
            <div class="starter-template">
    
                <a href="{% url 'user_login' %}"><h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">当前没有用户登录,点击登录查看更多内容...</h3></a>
    
            </div><br><br>
           {% endif %}
    <style>
        .footer{
          align-self: auto;
          width: 80px;
          margin-top: 50px;
          margin-left: 200px;
          position: fixed;
          float: left;
        }
        .head{
          width: 200px;
          margin-top: 20px;
          margin-left: 200px;
          position: fixed;
          float: left;
          color:black;
          height: 800px;
          font-family:Arial;
          font-size: 15px;
        }
    </style>
  </body>
</html>